html, body {
    height: 100%;
}

body {
    background: linear-gradient(#fac3e8, #f7dfef, #f7ebf3, #cfb2c5) no-repeat;
    background-attachment: scroll;
}

.main__insp{
    background-color: white;
    margin: 60px 60px 60px 60px;
    border-radius: 30px;
    background-size: 100%;
    object-fit: cover;
    background-size: cover;
    background-attachment: scroll;
}

.card1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card2 {
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.tg__photo {
    width: 350px;
    height: 200px;
}

.photos {
    text-align: center
}
.usual__text {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 10px;
    text-align: center;
}

.heading {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.heading__new {
    color: black;
}

.heading__insp {
    font-size: 34px;
    font-family: 'Raleway', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
}

.usual_text__insp {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;
}

.web__photo {
    width: 400px;
    height: 200px;
}

.list li { 
    display: inline; 
}

.list ul {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.list ul li {
    width:auto;
    display: inline-block;
} 

.usual__text1 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
